body {
    background-color: #807f84;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}
h1,h2 {
    color: rgb(211, 208, 197);
}
h5 {
    color:#2e4e44 !important;
    font-size: x-large;
}
.card {
height: fit-content;
width: fit-content;
}
.carousel-inner>.carousel-item {
    height: 300px;
}
.card-text {
    color: black;
}
footer {
    background-color: black;
}
nav {
    background-color: black;
}
.nav-link {
    color: white;
}
.container-2 {
    padding-top: 20px;
}
.active {
    background-color: rgba(0, 0, 0, 0.356);
}
.total-amount {
    text-align: right;
    font-size: x-large;
}
.table {
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.116);
    margin-left: 0;
}
th {
    color: #2e4e44;
}
tr {
    color: rgba(255, 255, 255, 0.548);
}
.cart {
    background-color: rgba(0, 0, 0, 0.315);
    border-color: black;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
}   
a {
    text-decoration: none;
    color: white;
}
.article-image:hover {
    opacity: 0.5;
}
.active {
    background-color: #7a81805b !important;
  }
.main-card, .card-category {
    background-color: rgba(0, 0, 0, 0.116);
}
#addedToCartInfo {
    background-color: olivedrab;
}
.navbar-toggler {
    border-color: dimgray !important;
}
.cart-logo {
    padding-top: 5px;
}