
body {
    background-color: #807f84;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

h1,h2 {
    color: rgb(211, 208, 197);
}
.card {
height: fit-content;
width: fit-content;
}
.carousel-inner>.carousel-item {
    height: 300px;
}

.card-text {
    color: black;
}

footer {
    background-color: black;
}
nav {
    background-color: black;
}
.nav-link {
    color: white;
}
.container-2 {
    padding-top: 20px;
}
.active {
    background-color: rgba(0, 0, 0, 0.356);
}

.total-amount {
    text-align: right;
    font-size: large;
}
.table {
    max-width: 800px;
    background-color: white;
    margin-left: 0;
    
}
h5 {
    color:#2e4e44;
    font-size: x-large;
}
<<<<<<< Updated upstream
=======

.cart {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: black;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
}

/* .cart {
    width: 80%;
   } */
   
>>>>>>> Stashed changes
